<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqv417Re2Zo-7lM5L1wC5OUUsaSWHpCyE</string>
	<key>GCM_SENDER_ID</key>
	<string>871010150471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ayeshasul.Ilm-quranLearning</string>
	<key>PROJECT_ID</key>
	<string>ilm-quranlearning</string>
	<key>STORAGE_BUCKET</key>
	<string>ilm-quranlearning.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871010150471:ios:7c3fbdef0c72049f31e962</string>
</dict>
</plist>